
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-principal: #000000;
    --cor-secundaria :#f6f6f6;
    --cor-terciaria: #22d4fd;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundario: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 13%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: var(--fonte-secundario);
    font-weight: 600;
    font-size: 24px;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.corpo-texto{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 4% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 30px;
    font-family: var(--fonte-principal);
}

.apresentacao_conteudo_paragrafo{
    font-size: 20px;
    font-family: var(--fonte-secundario);
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.apresentacao_links_endereco{
    width: 290px;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundario);
    font-weight: bold;
}

.apresentacao_links_endereco:hover{
    background-color: grey;
}

.apresentacao_links_subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 18px;
}

.rodape{
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    color: var(--cor-principal);
    font-family: var(--fonte-secundario);
    text-align: center;
    padding: 21.5px 0;
    font-weight: 400;
}